html, body, ul, li {
  margin: 0;
  padding: 0; }

body {
  font-family: Trueno, Arial, sans-serif; }

ul {
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

button {
  font-family: Trueno, Arial, sans-serif; }

.content-wrapper {
  max-width: 1360px;
  margin: 0 auto; }

.text {
  font-size: 16px;
  color: #8a8784; }

.button {
  display: inline-block;
  padding: 16px 30px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: pointer; }

.banner {
  margin-bottom: 50px; }

.promo {
  margin-bottom: 100px; }

.shop {
  margin-bottom: 100px; }

.feedback {
  margin-bottom: 100px; }

.page-main {
  margin-bottom: 100px; }

.banner {
  position: relative;
  display: flex;
  padding: 132px 0;
  background-color: #f0efee; }
  .banner__bg {
    width: 50%;
    position: absolute;
    bottom: -3px;
    max-width: 750px; }
    .banner__bg img {
      width: 100%;
      height: 100%; }
  .banner__content {
    width: 50%;
    margin-left: 50%; }
    .banner__content span {
      display: block; }
  .banner__price {
    font-size: 30px;
    color: #623232; }
  .banner__title {
    font-size: 70px;
    color: #623232;
    font-weight: 900; }
  .banner__subtitle {
    font-size: 50px;
    color: #ff7373;
    font-weight: 900; }
  .banner__description {
    max-width: 420px; }
  .banner__button {
    padding: 18px 46px;
    color: #ffffff;
    background-color: #ff7373; }

.feedback {
  background-color: #563535;
  background-image: url(../img/feedback-bg.jpg);
  background-size: cover;
  max-height: 570px;
  text-align: center;
  color: #ffffff;
  padding: 5% 0; }
  .feedback .customer__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20%; }
    .feedback .customer__list .customer {
      display: inline-block;
      margin-bottom: 56px;
      width: 33.33%;
      opacity: 0.5;
      transition: 0.2s; }
      .feedback .customer__list .customer__pic {
        border: 3px solid #ffffff;
        border-radius: 50%;
        margin-bottom: 28px; }
      .feedback .customer__list .customer__name {
        display: block;
        font-weight: 500; }
      .feedback .customer__list .customer:hover, .feedback .customer__list .customer:focus {
        opacity: 1;
        transition: 0.2s;
        outline: none; }
      .feedback .customer__list .customer--active {
        opacity: 1; }
  .feedback .review {
    display: inline-block;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    line-height: 26px;
    font-weight: 100;
    border-radius: 5px;
    display: none; }
    .feedback .review__list {
      min-height: 196px; }
    .feedback .review::before {
      content: '';
      position: absolute;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid rgba(255, 255, 255, 0.1);
      top: -20px;
      left: calc(50% - 20px); }
    .feedback .review--active {
      display: inline-block; }
    .feedback .review--1::before {
      left: calc(30% - 20px); }
    .feedback .review--3::before {
      left: calc(70% - 20px); }

.page-footer {
  background-color: #633231;
  color: #ffffff; }
  .page-footer .help {
    height: 200px;
    background-color: #ff7270; }
    .page-footer .help .content-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%; }
    .page-footer .help__text {
      display: block;
      font-size: 30px;
      font-weight: 500;
      text-transform: uppercase; }
    .page-footer .help__description {
      display: block; }
    .page-footer .help__button {
      height: fit-content;
      background-color: #633231;
      color: #ffffff; }
  .page-footer .advantages {
    height: 208px;
    text-align: center;
    border-bottom: 1px solid #7a5150; }
    .page-footer .advantages__list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%; }
    .page-footer .advantages__item {
      width: 160px; }
      .page-footer .advantages__item svg {
        width: 40px;
        height: 40px; }
  .page-footer .real-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 116px; }
    .page-footer .real-footer .soc__list {
      display: flex;
      justify-content: space-around;
      width: 180px; }
    .page-footer .real-footer .soc__item span {
      font-size: 0; }
    .page-footer .real-footer .soc__item svg {
      width: 26px;
      height: 26px; }

.goods {
  position: relative;
  text-align: center; }
  .goods:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc(66% - 2px); }
  .goods__list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(4, 1fr);
    grid-gap: 30px;
    text-align: left; }
  .goods__item {
    display: block;
    border: 1px solid #e0dfde;
    padding: 28px;
    position: relative;
    transition: 0.2s; }
    .goods__item:hover {
      border: 1px solid #ff7270;
      transition: 0.2s; }
  .goods__price {
    margin-top: 0;
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 26px;
    color: #8a8784; }
    .goods__price_after {
      color: #ff7270;
      margin-bottom: 8px; }
    .goods__price_before {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 26px;
      text-decoration: line-through; }
  .goods__discount {
    position: absolute;
    margin: 0;
    color: #ffffff;
    background-color: #ff7270;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    width: 25%;
    text-align: center;
    right: -1px;
    top: 28px; }
  .goods__pic {
    position: relative;
    height: 120px; }
    .goods__pic img {
      position: absolute;
      margin: auto;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
  .goods__info {
    position: absolute;
    padding-right: 30px;
    color: #8a8784;
    bottom: 10px; }
  .goods__sex {
    margin-bottom: 4px;
    text-transform: uppercase;
    font-weight: 500; }
  .goods__name {
    margin-top: 0;
    margin-bottom: 6px;
    line-height: 26px; }
  .goods__num {
    margin-top: 0;
    font-size: 13px;
    color: #bdb9b5; }

.nav__list, .menu__list {
  display: flex;
  flex-wrap: wrap; }

.nav__link, .menu__link {
  display: block;
  padding: 18px 20px; }

.nav__item {
  transition: 0.2s; }
  .nav__item:hover {
    background-color: #ff7270;
    transition: 0.2s; }
  .nav__item--active .nav__link {
    color: #ff7270;
    padding-bottom: 14px;
    border-bottom: 4px solid #ff7270;
    transition: 0.2s; }
    .nav__item--active .nav__link:hover {
      color: #ffffff;
      padding-bottom: 14px;
      border-bottom: 4px solid #ffffff;
      transition: 0.2s; }

.nav--categories {
  font-size: 16px; }

.menu__item {
  transition: 0.2s; }
  .menu__item:hover {
    background-color: #ff7270;
    transition: 0.2s; }
  .menu__item--cart {
    border-right: 1px solid #5b3a3a;
    padding-left: 25px; }
    .menu__item--cart span {
      color: #dcc5b8; }
    .menu__item--cart .menu__link {
      position: relative; }
      .menu__item--cart .menu__link::before {
        display: block;
        position: absolute;
        left: -10px;
        content: '';
        background: url(../img/bag.svg) no-repeat center;
        width: 20px;
        height: 20px; }

.page-header {
  font-size: 14px;
  line-height: 26px; }
  .page-header a {
    color: #fff; }
  .page-header__top {
    background-color: #482424; }
  .page-header__bottom {
    background-color: #633231; }
  .page-header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline; }
  .page-header__logo {
    padding-left: 20px;
    margin-top: -4px; }

.news {
  text-align: center; }
  .news__title {
    display: block;
    font-size: 30px;
    color: #623232;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 50px; }
  .news__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
  .news__item {
    position: relative;
    width: 31.5%;
    background-color: #623232;
    background-size: cover;
    text-align: left; }
    .news__item--1 {
      background-image: url(../img/news/news-1.jpg); }
    .news__item--2 {
      background-image: url(../img/news/news-2.jpg); }
    .news__item--3 {
      background-image: url(../img/news/news-3.jpg); }
    .news__item::before {
      display: block;
      content: '';
      width: 100%;
      padding-top: 100%; }
  .news__link {
    display: block;
    position: absolute;
    color: #ffffff;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .news__wrapper {
    position: absolute;
    width: 80%;
    left: 30px;
    bottom: 20px; }
  .news__date {
    line-height: 0;
    font-weight: 500;
    text-transform: uppercase; }
  .news__description {
    line-height: 26px;
    margin: 8px 0; }
  .news__comments {
    font-size: 13px;
    line-height: 0;
    color: #ff7270; }

.promo {
  position: relative;
  text-align: center; }
  .promo:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc(50% - 15px); }
  .promo__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(4, 1fr);
    grid-gap: 30px; }
  .promo__description {
    display: block;
    color: #fff;
    font-size: 30px; }
  .promo__title {
    display: block;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase; }
  .promo-1 {
    position: relative;
    grid-area: 1/1/3/3;
    background-image: url(../img/promo/promo-1-bg.jpg);
    background-size: cover; }
    .promo-1:before {
      display: block;
      position: absolute;
      content: '';
      background-image: url(../img/promo/promo-1-out.png);
      background-size: cover;
      width: 36px;
      height: 69px;
      top: 280px;
      left: -17px; }
      @media (max-width: 1377px) {
        .promo-1:before {
          display: none; } }
    .promo-1__button {
      background-color: #42d9ce;
      color: #000000; }
    .promo-1__wrapper {
      width: auto;
      height: 82%;
      position: relative;
      padding: 40px;
      box-sizing: border-box; }
    .promo-1__title {
      color: #41d9cd; }
  .promo-2 {
    position: relative;
    grid-area: 1/3/2/5;
    background-color: #ff7270;
    padding-left: 25%;
    padding-top: 50px;
    z-index: 1; }
    .promo-2:before {
      display: block;
      position: absolute;
      content: '';
      background-image: url(../img/promo/promo-2-bg.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 254px;
      height: calc(100% + 22px);
      left: -20px;
      bottom: 0px;
      z-index: -1; }
    .promo-2__title {
      margin-bottom: 30px;
      color: #ffffff; }
    .promo-2__button {
      color: #ffffff;
      background-color: #633231; }
  .promo-3 {
    background-image: url(../img/promo/promo-3-bg.jpg);
    background-size: cover;
    padding-top: 140px; }
    .promo-3__title {
      color: #ff7270; }
  .promo-4 {
    background-image: url(../img/promo/promo-4-bg.jpg);
    background-size: cover;
    padding-top: 20px; }
    .promo-4__description {
      color: #6b7072; }
    .promo-4__title {
      color: #ffffff; }

.goods {
  position: relative;
  text-align: center; }
  .goods:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc(66% - 2px); }
  .goods__list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(4, 1fr);
    grid-gap: 30px;
    text-align: left; }
  .goods__item {
    display: block;
    border: 1px solid #e0dfde;
    padding: 28px;
    position: relative;
    transition: 0.2s; }
    .goods__item:hover {
      border: 1px solid #ff7270;
      transition: 0.2s; }
  .goods__price {
    margin-top: 0;
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 26px;
    color: #8a8784; }
    .goods__price_after {
      color: #ff7270;
      margin-bottom: 8px; }
    .goods__price_before {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 26px;
      text-decoration: line-through; }
  .goods__discount {
    position: absolute;
    margin: 0;
    color: #ffffff;
    background-color: #ff7270;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    width: 25%;
    text-align: center;
    right: -1px;
    top: 28px; }
  .goods__pic {
    position: relative;
    height: 120px; }
    .goods__pic img {
      position: absolute;
      margin: auto;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
  .goods__info {
    position: absolute;
    padding-right: 30px;
    color: #8a8784;
    bottom: 10px; }
  .goods__sex {
    margin-bottom: 4px;
    text-transform: uppercase;
    font-weight: 500; }
  .goods__name {
    margin-top: 0;
    margin-bottom: 6px;
    line-height: 26px; }
  .goods__num {
    margin-top: 0;
    font-size: 13px;
    color: #bdb9b5; }

.filter {
  text-align: center;
  margin-left: -40px;
  margin-bottom: 50px; }
  .filter__button {
    padding: 0;
    margin-left: 40px;
    font-size: 30px;
    font-weight: 200;
    color: #bdb9b5; }
    .filter__button--active {
      font-weight: 500;
      color: #623232; }

.goods {
  margin-bottom: 100px; }

.brands__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.brands__item {
  flex-basis: 144px;
  text-align: center; }
